.languages-flags {
    text-align: left;
}
.languages-flags a img {
    width: 32px;
    height: 32px;
}

.btn-download {
    display: inline-flex;
    align-items: center;
    height: 44px;
    background: #3582C4;
    color: #fff;
    padding: 0 40px;
    max-width: 100%;
    font-size: 14px;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
}

a.btn-download:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}